{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>

<div class="about-content">
    <div class="about-text">
        <p>Этот блог посвящён путешествиям по разным уголкам мира. Здесь публикуются интересные статьи о городах, странах, природных достопримечательностях, культуре и кухне. Каждый материал сопровождается фотографиями и полезными советами, которые помогут лучше познакомиться с местами и планировать поездки. </br>
            </br>
            Цель блога — вдохновить на новые открытия, показать разнообразие мира и дать полезную информацию для путешественников.</p>
    </div>
    <div class="about-image">
        <img src="{% static 'img/ice.png' %}" alt="ice" width=150px>
    </div>
</div>

{% endblock %}
</body>
</html>