{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>
<p>Добро пожаловать в блог о путешествиях! </br>
    Здесь вы найдёте увлекательные истории и красивые фотографии :)</p>

<div class="posts-preview">
    <div class="post-card">
        <a href="/post/" class="post-link">
        <img src="{% static 'img/cologne.png' %}" alt="Кёльн">
        <h3>Прогулка по Кёльну</h3>
        <h4>Кёльн, Германия</h4>
            <p>Уютный немецкий город с готическим собором и атмосферными улочками. В этом посте расскажем о прогулках по старому городу, местной кухне и интересных местах.</p>
        </a>
    </div>
    <div class="post-card">
        <a href="/post/" class="post-link">
        <img src="{% static 'img/paris.png' %}" alt="Париж">
        <h3>Романтика на берегах Сены</h3>
        <h4>Париж, Франция</h4>
        <p>Эйфелева башня, набережные Сены и романтическая атмосфера столицы Франции. Прогулки по Монмартру и Лувру.</p>
        </a>
    </div>
    <div class="post-card">
        <a href="/post/" class="post-link">
        <img src="{% static 'img/london.png' %}" alt="Лондон">
        <h3>Лондон: история и современность</h3>
        <h4>Лондон, Великобритания</h4>
        <p>Исторические достопримечательности и современные уголки британской столицы. Биг-Бен, Тауэр и уютные улицы Сохо.</p>
        </a>
    </div>
    <div class="post-card">
        <a href="/post/" class="post-link">
        <img src="{% static 'img/rome.png' %}" alt="Рим">
        <h3>Прогулки по вечному Риму</h3>
        <h4>Рим, Италия</h4>
        <p>Древние руины, живописные площади и знаменитая итальянская кухня. Колизей, Пантеон и вкуснейшая пицца.</p>
        </a>
    </div>
    <div class="post-card">
        <a href="/post/" class="post-link">
        <img src="{% static 'img/barselona.png' %}" alt="Барселона">
        <h3>Барселона: архитектура и пляжи</h3>
        <h4>Барселона, Испания</h4>
        <p>Архитектура Гауди, пляжи и живые городские площади. Парк Гуэль и Ла Рамбла ждут путешественников.</p>
        </a>
    </div>
    <div class="post-card">
        <a href="/post/" class="post-link">
        <img src="{% static 'img/amsterdam.png' %}" alt="Амстердам">
        <h3>Амстердам: каналы и уютные улочки</h3>
        <h4>Амстердам, Нидерланды</h4>
        <p>Каналы, велосипеды и уютные улочки с кофешопами и музеями. Прогулка на лодке по каналам города.</p>
        </a>
    </div>
</div>

{% endblock %}