{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>

<div class="post-grid">
    <div class="post-image">
        <img src="{% static 'img/cologne.png' %}" alt="Кёльн">
    </div>
    <div class="post-text">
        <h3>Кёльн, Германия</h3>
        <p>
            Уютный немецкий город с готическим собором и атмосферными улочками. Кёльн – это сочетание богатой истории и современной жизни, где старинные здания соседствуют с современными кафе и магазинами. Главная достопримечательность города – Кёльнский собор. Он поражает своей архитектурой, величественными башнями и витражами, рассказывающими истории прошлого.
            <br><br>
            Прогуливаясь по старому городу, можно увидеть узкие мощёные улочки, очаровательные площади и уютные кафе, где подают традиционные немецкие блюда. Особое внимание стоит уделить местной кухне: от знаменитых колбасок и пива до уютных кондитерских с восхитительной выпечкой.
            <br><br>
            Не менее впечатляющими являются прогулки вдоль реки Рейн: набережная предлагает красивые виды на город, современные мосты и старинные здания, отражающиеся в воде. Для любителей искусства – множество музеев и галерей, включая Музей Людвига с коллекцией современного искусства.
            <br><br>
            Кёльн – город, который гармонично сочетает в себе историю, культуру и комфортное пространство для прогулок. Каждый уголок здесь пронизан атмосферой уюта и вдохновения, а Кёльнский собор остаётся неизменным символом величия и красоты этого немецкого города.
        </p>
    </div>
</div>
{% endblock %}